@model IEnumerable<WeatherNote.Models.WeatherNoteDetails>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WeatherDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoteText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TempInfo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WeatherDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoteText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TempInfo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WeatherNoteId }) |
            @Html.ActionLink("Details", "Details", new { id=item.WeatherNoteId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WeatherNoteId })
        </td>
    </tr>
}

</table>
